{
    "max_open_trades": 3,
    "stake_currency": "BTC",
    "stake_amount": 0.1,
    "dry_run": false,
    "minimal_roi": {
        "2880": 0.005,
        "720":  0.01,
        "0":  0.015
    },
    "stoploss": -0.03,

    "bid_strategy": {
        "ask_last_balance": 0.005
        }

    "poloniex": {
        "enabled": false,
        "key": "key",
        "secret": "secret",
        "pair_whitelist": []
    },
    "bittrex": {
        "enabled": true,
        "key": "",
        "secret": "",
        "pair_whitelist": [

        ]
    },
    "telegram": {
        "enabled": true,
        "token": "",
        "chat_id": ""
    },
    "initial_state": "running"
}
